<ul class="{{ ul_class }}">
    <li class="{{ li_class }}">
        <a href="#Inicio">Inicio</a>
    </li>
    {% for entity in entities %}
        <li class="{{ li_class }}">
            <a href="#{{ entity.slug }}">{{ entity.name }}</a>
        </li>
    {% endfor %}
</ul>
