{% set feeds_total = feeds|length %}
{% set feeds_left = feeds_total/2 %}
<div class="news row" style="margin-top: 2%">
    <div class="span6 bloq01">
        {% for key, feed in feeds %}
            {% if key < feeds_left %}
                <div class="not">
                    <header>
                        <a href="{{ feed.link }}" target="_blank">{{ feed.title }}</a>
                        {#<time>{{ feed.pubDate | date('d/m/Y H:i') }}</time>#}
                    </header>
                    {#<p>{{ feed | striptags | truncate(128, true) }}</p>#}
                </div>

            {% endif %}
        {% else %}
            <p>No hay noticias para mostrar :(</p>
        {% endfor %}
    </div>
</div>


<div class="news row" style="margin-top: 2%">
    <div class="span6 bloq01">
        {% for key, feed in feeds %}
            {% if key >= feeds_left %}
                <article class="not">
                    <h3>
                        <a href="{{ feed.link }}" target="_blank">{{ feed.title }}</a>
                        {#<time>{{ feed.pubDate | date('d/m/Y H:i') }}</time>#}
                    </h3>
                    {#<p>{{ feed | striptags | truncate(128, true) }}</p>#}
                </article>

            {% endif %}
        {% else %}
            <p>No hay noticias para mostrar :(</p>
        {% endfor %}
    </div>
</div>