<ul class="{{ ul_class }}">
    <li class="{{ li_class }}">
        <a href="#Inicio">Inicio</a>
    </li>
{% for entity in entities %}
    {% if entity.name != 'Destacados' %}
    <li class="{{ li_class }}">
        <a href="#{{ entity.name }}">{{ entity.name }}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>
